

<!-- section 1 navbar  -->

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">SAMSUNG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav test" style="margin-left:12px;">
      <li class="nav-item active">
        <a class="nav-link" href="#">Mobile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">TV &Audio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home Appliances</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"  aria-disabled="true">Smart Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"  aria-disabled="true">Computing</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#"  aria-disabled="true">Offers</a>
      </li>
    </ul>

    <ul class="navbar-nav" style="margin-left:120px;">
      <li class="nav-item active">
        <a class="nav-link" href="#">Explore <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Support</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Business</a>
      </li>
      </ul>
      <ul class="navbar-nav" style="margin-left:120px;">
        <li class="nav-item active">
          <a class="nav-link" id="signIn" href="#">Sign <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Search</a>
        </li>
        </ul>
  </div>
</nav>
<!-- end section 1  -->


<!-- section 2 start -->
<div class="section-2">
  <div class="row">
    <p><span class="text-muted">Home</span> / <span class="text-muted" style="font-weight:bold;">Phones</span></p>
  </div>
</div>
<!-- section2 ended  -->



<!-- section 3 start -->

<div class="section-3">
  <div class="row">
    <div class="col-md-12">
      <a href="">GALAXY S</a>
      <a href="">GALAXY Z FLIP</a>
      <a href="">GALAXY FOLD</a>
      <a href="">GALAXY GALAXY NOTE</a>
      <a href="">GALAXY 5G</a>
      <a href="">GALAXY A</a>
    </div>
  </div>
</div>

<!-- section 3 end -->

<!-- section 4 start -->

<div class="section-4">
  <div class="row">
    <div class="col-md-12">
      <img src="../assets/All.webp" alt="">
    </div>
   
  </div>
</div>

<!-- end section 4 -->



<!-- section 5 -->
<div class="section-5">
  <div class="row">
   <div class="col-md-6">
     <img src="../assets/SSeries.webp" alt="">
   </div>
   <div class="col-md-6">
     <h1>S Series </h1>
     <p>
      If it's innovative, the Galaxy S Series has it in spades. <br> Revolutionary cameras. 
      A battery that wirelessly charges <br> other batteries.¹ An expansive display that clears the way for your creative vision.
     </p> <br><br>

    <h3>Starting from $499.99 with eligible trad-in</h3>

    <div class="btn-group ">
      <button type="button" class="btn btn-lg btn-secondary text-black  dropdown-toggle-split" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
        Select Model
      </button>
      <div class="dropdown-menu">
        <button>Galaxy S20 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $499.99</span> 
        </button><br>
        <button>Galaxy S10 <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $589.99</span></button> <br>
        <button>Galaxy S20</button>
      </div>
    </div><br><br>
    <button class="but">Compare the galaxy s</button> <a href="">Learn more about S20 5G</a>

   </div>
  </div>
</div>
<!-- section 5 end  -->


<!-- section 6 start -->

<div class="section-6">
  <div class="row">
    <div class="col-md-6">
      <h1>Galaxy Z Flip </h1>
      <p>
        Made from Ultra Thin Glass that bends to fit in your <br> pocket, and a Hideaway Hinge that lets 
        you enjoy hands- <br> free selfies and video chats, the new Galaxy Z Flip is a <br> phone that bends all the rules. </p> <br><br>
 
     <h3>Starting from $880 with eligible trad-in</h3>
 
     <div class="btn-group ">
       <button type="button" class="btn btn-lg btn-secondary text-black  dropdown-toggle-split" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="sr-only">Toggle Dropdown</span>
         Select Model
       </button>
       <div class="dropdown-menu">
         <button>Galaxy Z Flip 
           <span style="margin-left:230px;font-size:12px;">Starting at </span> 
           <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $880</span> 
         </button>
       </div>
     </div>
     <button class="but">Compare the galaxy z flip</button> <a href="">Learn more about z flip</a>
    </div>
    <div class="col-md-6">
      <img src="../assets/zFlip.webp" alt="">
    </div>
  </div>
</div>

<!-- section 6 end  -->


<!-- section 7 start -->

<div class="section-7">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/NoteSeries.webp" alt="">
    </div>
    <div class="col-md-6">
      <h1> Note Series </h1>
      <p>
        A system of pro-grade cameras. Blazing speeds. 
        A magic <br> pen that controls your phone. Upgrade to the Galaxy Note <br> Series and turn your creative vision into reality.
      </p><br><br>
        <h3>Starting from $559.99 with eligible trad-in</h3>
 
     <div class="btn-group ">
       <button type="button" class="btn btn-lg btn-secondary text-black  dropdown-toggle-split" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="sr-only">Toggle Dropdown</span>
         Select Model
       </button>
       <div class="dropdown-menu">
         <button>Galaxy Note10 
           <span style="margin-left:230px;font-size:12px;">Starting at </span> 
           <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $729.99</span> 
         </button>
         <button>Galaxy Note9 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $559.99</span> 
        </button>
        <button>See all Galaxy Note </button>
       </div>
     </div>
     <button class="but">Compare the galaxy note</button> <a href="">Learn more about note10</a>
    </div>
  </div>
</div>

<!-- section 7 end -->


<!-- section 8 (galaxy with 5g) start -->
<div class="section-8">
  <div class="row">
    <div class="col-md-6 left">
      <h1>A Galaxy full of 5G </h1>
      <p>
        Download, browse and do more at the lightning-fast <br> speed of 5G.
         From the Galaxy S20 Ultra 5G to the Galaxy <br> Note10+ 5G, explore a Galaxy of 5G phones and get yours.
      </p> <br><br>
 
     <h3>Starting from $399.99 with eligible trad-in</h3>
 
     <div class="btn-group ">
       <button type="button" class="btn btn-lg btn-secondary text-black  dropdown-toggle-split" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="sr-only">Toggle Dropdown</span>
         Select Model
       </button>
       <div class="dropdown-menu">
         <button>Galaxy S20 5G 
           <span style="margin-left:230px;font-size:12px;">Starting at </span> 
           <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $399.99</span> 
         </button>

         <button>Galaxy S20+ 5G 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $599.99</span> 
        </button>
        <button>Galaxy S20 Ultra 5G 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:22px;margin-left:4px;">$799</span> 
        </button>
        <button>Galaxy Note10+ 5G 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:22px;margin-left:4px;">$799.99</span> 
        </button>
       </div>
     </div> <br><br>
     <button class="but">Compare 5G PHONES</button> <a href="">Learn more about 5G</a>
    </div>
    <div class="col-md-6">
      <img src="../assets/All-Phones-5GFast-D.webp" alt="">
    </div>
  </div>
</div>
<!-- section 8 end  -->



<!-- section 9(A series) start -->

<div class="section-9">
  <div class="row">
    <div class="col-md-6 ">
      <img src="../assets/A-Series-DT.webp" alt="">
    </div>
    <div class="col-md-6">
      <h1>A Series </h1>
      <p>
        The Galaxy A series has everything you want in a <br> smartphone, like high-capacity, fast-charging batteries³ ,<br> 
         multi-lens cameras and Infinity Displays—at the <br> incredible value you deserve.
      </p> <br><br>
 
     <h3>Starting from $99.99 with eligible trad-in</h3>
 
     <div class="btn-group ">
       <button type="button" class="btn btn-lg btn-secondary text-black  dropdown-toggle-split" 
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="sr-only">Toggle Dropdown</span>
         Select Model
       </button>
       <div class="dropdown-menu">
         <button>Galaxy A51 
           <span style="margin-left:230px;font-size:12px;">Starting at </span> 
           <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $229.99</span> 
         </button>

         <button>Galaxy A50 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:25px;margin-left:4px;"> $129.99</span> 
        </button>
        <button>Galaxy A10e 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:22px;margin-left:4px;">$129.99</span> 
        </button>
        <button>Galaxy A20 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:22px;margin-left:4px;">$199.99</span> 
        </button>
        <button>Galaxy A01 
          <span style="margin-left:230px;font-size:12px;">Starting at </span> 
          <span style="font-weight:bold;font-size:22px;margin-left:4px;">$99.99</span> 
        </button>
        <button>See all Galaxy A </button>
       </div>
     </div> <br> <br> <br>
      <a href="">Learn more about A51</a>
    </div>
  </div>
</div>
<!-- section 9 end -->



<!-- section 10 (galaxy fold) start -->

<div class="section-10">
  <div class="row container">
    <div class="col-md-6">
      <div class="text-left">
        <h1>Galaxy Fold</h1>
      <p>Something amazing is unfolding. A breakthrough display. A revolutionary dual battery. A device unlike any other.</p>
      <a href="">Learn more</a>
      </div>
      
    </div>
    <div class="col-md-6">
      <img src="../assets/Fold.webp" alt="">
    </div>
  </div>
</div>

<!-- section 10 end -->



<!-- section 11 start-->
<div class="section-11">
  <h1>Customer Care That actually cares</h1>
  <h3>For a device that's always there for you , support is always here</h3>
</div>
<!-- section 11 end -->



<!-- section 12 (Customer Cares) start-->

<div class="section-12">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/Customleft.webp" alt="">
      <h1>See the Galaxy in action</h1>
      <p>Swing by a Samsung Experience Store to test drive our latest devices, like the Galaxy S20 or Galaxy Note10+.</p>
      <a href="">learn More</a>
    </div>
    <div class="col-md-6">
      <img src="../assets/CustomRight.webp" alt="">
      <h1>Care that comes to you</h1>
      <p>Samsung Premium Care provides support anywhere, anytime, with in-person assistance that comes to you and 24/7 online chat.</p>
      <a href="">learn More</a>
    </div>
  </div>
</div>

<!-- end section 12 -->



<!-- section 13 (compare section and display image )  start -->
<div class="section-13">
  <div class="row">
    <div class="col-md-12">
      <h1>Compare</h1>
  <h3>Whatever you're envisioning , there's a Galaxy to help make it yours</h3>
  <button>Compare now</button>
    </div>
    <div class="col-md-12">
      <img src="../assets/desktop-full-bleed-phone-lockups-updated.jpg" alt="">
    </div>
  </div>
  
</div>
<!-- section 13 end  -->


<!--section 14 (section about samsung access)  -->

<div class="section-14">
  <div class="row container">
    <div class="col-md-6">
      <div class="textSection14">
        <h1>Our best devices . Your terms . One monthly Subscription</h1>
        <p>
          Samsung Access makes it easier to get our latest phones with the option to upgrade or cancel anytime. 
          Enjoy the ultimate Samsung experience, including Premium Care coverage and 1TB 
          OneDrive cloud storage with premium office apps, so you can create and work worry-free.
        </p>
        <a href="">Learn more</a> <button>Subscribe Now</button>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-auto flex-wrap">
      <img src="../assets/Access.jpg" alt="">
    </div>
  </div>
</div>

<!-- end section 14 -->


<!-- section 15(Trade up and Save ) -->
<div class="section-15 container">
  <div class="row">
    <div class="col-md-6">
        <img src="../assets/TradUp.webp" alt="">
    </div>
    <div class="col-md-6">
       <div class="TextSection15">
         <h1>Trade up and save </h1>
         <p>
          Save up to $600 on the Galaxy S20 when you trade-in an eligible device. Terms, conditions and exclusions may apply.ᶿ
         </p>
         <a href="">Learn More </a> <button>Buy Now</button>
       </div>
    </div>
  </div>
</div>
<!-- section 15 -->


<!-- section 16(Do more ) -->
<div class="section-16">
  <div class="row container ">
    <div class="col-md-6">
        <div class="textSection-16">
          <h1>Do more with Galaxy</h1>
          <p>
            Galaxy phones make life easier, faster, and better. Explore all the amazing things you can do with Galaxy.
          </p>
          <button>Discover Galaxy</button>
        </div>
    </div>
    <div class="col-md-6">
      <img src="../assets/more.webp" alt="">
    </div>
  </div>
</div>
<!-- end section 16  -->


<!-- section 17 start -->

<div class="section-17">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Still can't decide which phone is right for you? Let <br> us help you find your best Galaxy.
      </h1>
      <button>Get Started</button>
    </div>
  </div>
</div>

<!-- section 17 end -->



<router-outlet></router-outlet>